.Toastify__toast {
  padding: 0;
  margin-bottom: 2.8rem;
  border-radius: 0.5rem;
  box-shadow:
    0px 8px 10px 0px rgba(0, 0, 0, 0.2),
    0px 6px 30px 0px rgba(0, 0, 0, 0.12),
    0px 16px 24px 0px rgba(0, 0, 0, 0.14);
}

.Toastify__toast-container {
  width: fit-content;
}

.Toastify__toast-body {
  padding: 0;
}

.Toastify__toast-theme--light {
  background: linear-gradient(100deg, #035e5d 0.37%, #023a39 100.37%), #023a39;
}

.Toastify__progress-bar {
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  bottom: -2px;
}

.Toastify__progress-bar-theme--light {
  background: #ccfd62;
}

@media screen and (max-width: 1024px) {
  .Toastify__toast-container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .Toastify__toast {
    margin-top: 5.5rem;
  }
}
