@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

:root {
  scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #035e5d;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-track {
    background-color: "transparent";
  }
}
